@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root{
    --primColor:#0B0D17;
    --secColor:#D0D6F9;
    --white:#FFFFFF;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: var(--white);
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
}

/*font-family: 'Bellefair', serif;*/