@import url(../../styles/reset.css);

.page
{
    position:absolute;
    left:0;
    top:0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}
.content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content p{
    text-align: center;
}
h1{
    font-size: 6em;
}
.explore
{
    --len:40vw;
    position: relative;
    width: var(--len);
    height: var(--len);
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primColor);
    letter-spacing: 1.25px;
    font-size: 2em;
}
.explore:hover 
{
    cursor: pointer;
    box-shadow: 0 0 0 30px rgba(185, 185, 185, .4);
}
.content .travel
{
    text-align: center;
}
.content .homeCont
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/******************************************************************************

                          Mobile Styling

*******************************************************************************/
.page{
    background-image: url(../../assets/home/background-home-mobile.jpg);
    background-size: cover;
    padding: 15vh 24px 5vh 24px;
}

/******************************************************************************

                        Tablet Styling

******************************************************************************/
@media only screen and (min-width : 460px)
{    
    .page 
    {
        background-image: url(../../assets/home/background-home-tablet.jpg);
    } 
}
@media only screen and (min-width : 760px)
{    
    .page 
    {
        padding: 15vh 15vw 10vh 15vw;
    }
    .content h1{
        font-size: 15em;
    }
    .explore
    {
        --lenTab:30vw;
        width: var(--lenTab);
        height: var(--lenTab);
    }
}

/******************************************************************************

                        Desktop Styling

******************************************************************************/

@media only screen and (min-width:960px)
{
    .page 
    {
        background-image: url(../../assets/home/background-home-desktop.jpg);
        padding: 15vh 15vw 20vh 15vw;
    } 
    .content
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .content .homeCont
    {
        width: 30%;
        height: 70%;
    }
    .content .travel
    {
        font-size: .9em;
    }
    .exploreCont
    {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .explore
    {
        --lenDesk:25vh;
        width: var(--lenDesk);
        height: var(--lenDesk);
    }

    .content h1{
        font-size: 10em;
    }
    .content p
    {
        line-height: 32px;
    }
}