@import url(../../styles/reset.css);

.page
{
    position:absolute;
    left:0;
    top:0;
    height: 100vh;
    width: 100vw;
}
.content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.content .techPic
{
    height: 30%;
    width:105%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content p{
    text-align: center;
    font-family: 'Bellefair', serif;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: .9rem;
}
h1{
    font-size: 6em;
}
.spaceLaunch
{
    margin-left: 30px;
}
.spaceLaunch::before{
    content: "03";
    position: absolute;
    left: -30px;
    top: 0%;
    font-weight: bold;
    color: rgba(255, 255, 255, .3);
}

.content img
{
    width:100%;
}
.content .temName
{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content .description
{
    height: 60%;
}
.content #terminology
{
    text-transform: uppercase;
    color: rgba(255, 255, 255, .6);
}
.content nav{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content nav span{
    --len:10vw;
    width:var(--len);
    height: var(--len);
    border: 1px var(--white) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content nav .radioActive
{
    background-color: var(--white);
    color: var(--primColor);
}
.content .titleRapper
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .vehInf
{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/******************************************************************************

                          Mobile Styling

*******************************************************************************/
.page{
    background-image: url(../../assets/technology/background-technology-mobile.jpg);
    background-size: cover;
    padding: 15vh 0 5vh 0;
}
.spaceLaunch
{
    font-size: 1rem;
}
.content .description
{
    padding: 0 24px;
}
.content .vihicleDetails
{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.content .spaceVehicleInfo
{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/******************************************************************************

                        Tablet Styling

******************************************************************************/

@media only screen and (min-width : 740px)
{
    .page{
        background-image: url(../../assets/technology/background-technology-tablet.jpg);
        padding: 15vh 0 0vh 0;
    }
    .content .titleRapper
    {
        justify-content: flex-start;
    }
    .content .techPic
    {
        height: 45%;
    }
    .content nav span{
        --len:10vw;
        width:var(--len);
        height: var(--len);
        font-size: 2em;
    }
    .content .description
    {
        margin: 0 20vw;
    }
    .content .vehInf
    {
        height: 40%;
    }
    .content .vihicleDetails
    {
        height: 100%;
    }
    .content .spaceVehicleInfo
    {
        height: 80%;
    }
}

/******************************************************************************

                        Desktop Styling

******************************************************************************/

@media only screen and (min-width : 960px)
{
    .page{
        background-image: url(../../assets/technology/background-technology-desktop.jpg);
        padding: 15vh 0 5vh 0;
    }
    .content .vihicleDetails
    {
        flex-direction: row-reverse;
        height: 80%;
    }
    .content .vehInf
    {
        flex-direction: row;
        width: 55%;
        height: 100%;
    }
    .content nav
    {
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
    }.content nav span
    {
        --lenDesk:10vh;
        --lenMaxDesk:150px;
        width: var(--lenDesk);
        height: var(--lenDesk);
        max-width: var(--lenMaxDesk);
        max-height: var(--lenMaxDesk);
    }
    .content .techPic
    {
        height: 100%;
        justify-content: flex-end;
    }
    .content .techPic img{
        height: 100%;
        width: auto;
    }
    .content .spaceVehicleInfo
    {
        align-items: flex-start;
    }
    .content .spaceVehicleInfo p
    {
        text-align: left;
    }
    .content .temName
    {
        align-items: flex-start;
    }
    .content .description
    {
        margin: 0;
        padding: 0;
    }
}