@import url(../../styles/reset.css);
.menu{
    position: fixed;
    width: 100vw;
    height:15vh;
    max-height: 100px;
    padding:24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:50;
}
Link{
    text-decoration:none;
}
/**********************************************************

                    Mobile Styling

**********************************************************/
.hamBurger
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
}
.hamBurger img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
}
.menuItems
{
    padding-top: 20vh;
    position: absolute;
    right: 0;
    top: 0;
    width:75vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .04);
    backdrop-filter: blur(90px);
    z-index: 9;
    
}
.items
{
    list-style-type: none;
    counter-reset: mItem -1;
    padding: 0 60px;
}
.items li{
    position: relative;
    text-transform:uppercase;
    counter-increment: mItem 1;
    margin-top: 20px;
    letter-spacing: 2.7px;
}
.items li::before
{
    position:absolute;
    content: "0"counter(mItem);
    font-size: 16px;
    left:-30px;
    font-weight: bold;
}
.items li .link{
    color: inherit;
    text-decoration:inherit;
}
.menuItemsDisabled
{
    visibility: hidden;
}
.items .activeLink
{
    visibility: none;
}

/******************************************************************************

                        Tablet Styling

******************************************************************************/

@media only screen and (min-width : 760px)
{
    #mobile
    {
        display: none;
        visibility: hidden;
    }
    .menuItems
    {
        padding: 0;
        visibility: visible;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items{
        padding: 0;
        display: flex;
        align-items:center;
        justify-content: space-around;
        width: 80%;
        height: 100%;
    }
    .items li{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .items .activeLink
    {
        visibility: visible;
        border-bottom: 1px var(--white) solid;
    }
    .items li:hover
    {
        border-bottom: 1px var(--transWhite) solid;
    }
    
    .items li::before{
        display: none;
    }
    .items li .link{
        font-size: 16px;
    }
    
}

/**********************************************************************************

                        Desktop Styling

**********************************************************************************/
@media only screen and (min-width:1452px)
{
    .menuItems::before
    {
        content: '';
        width: 40%;
        height: 1px;
        position: absolute;
        top: 50%;
        left:-35%;
        background-color: var(--white);
        z-index: 41;
    }
}