@import url(../../styles/reset.css);
.menu{
    position: relative;
    width: 100vw;
    height:15vh;
    padding:24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/**********************************************************

                    Mobile Styling

**********************************************************/
.hamBurger
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
}
.hamBurger img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
}
.menuItems
{
    padding-top: 20vh;
    position: absolute;
    right: 0;
    top: 0;
    width:75vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .04);
    z-index: 9;
    
}
.items
{
    list-style-type: none;
    counter-reset: mItem -1;
    padding: 0 60px;
}
.items li{
    position: relative;
    text-transform:uppercase;
    counter-increment: mItem 1;
    margin-top: 20px;
    letter-spacing: 2.7px;
}
.items li::before
{
    position:absolute;
    content: "0"counter(mItem);
    font-size: 16px;
    left:-30px;
    font-weight: bold;
}
.menuItemsDisabled
{
    visibility: hidden;
}