@import url(../../styles/reset.css);

.page
{
    position:absolute;
    left:0;
    top:0;
    height: 130vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content p{
    text-align: center;
    line-height: 25px;
    font-family: 'Barlow', sans-serif;
}
.content .divider
{
    width: 100%;
    height: .5px;
    background-color: rgba(255, 255, 255, .1);
}
h1{
    font-size: 6em;
}
.pickDestination
{
   margin-left: 30px;
}
.pickDestination::before{
    content: "01";
    position: absolute;
    left: -30px;
    top: 0%;
    font-weight: bold;
    color: rgba(255, 255, 255, .3);
}
#destNav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#destNav ul
{
    display: flex;
    width: 80%;
    justify-content: space-around;
}
#destNav ul li:hover
{
    cursor: pointer;
    opacity: 70%;
}
#destNav ul .linkActive
{
    position: relative;
}
#destNav ul .linkActive::before
{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--white);
    left: 0;
    bottom: -5px;
}
.travelEst{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.travelEst p{
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: .9em;
}
/******************************************************************************

                          Mobile Styling

*******************************************************************************/
.page{
    background-image: url(../../assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    padding: 15vh 24px 5vh 24px;
}
.pickDestination{
    font-size: 1rem;
}
.page img{
    width: 50vw;
    height: 50vw;
    max-width: 445px;
    max-height: 445px;
}
#destNav
{
    width: 100%;
}
.content .travEst
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:4vh;
}
.content .pickDest
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .destCont
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}
.content .planet
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 85%;
}
/******************************************************************************

                        Tablet Styling

******************************************************************************/

@media only screen and (min-width : 760px)
{
    .page{
        background-image: url(../../assets/destination/background-destination-tablet.jpg);
        height: 100vh;
    }
    .content
    {
        width:80%;
    }
    .content #destNav
    {
        width: 50%;
    }
    .content .travEst
    {
        flex-direction: row;
        width:50vw;
    }
    .content .destNav
    {
        width: 30vw;
    }
    .content .pickDest
    {
        justify-content: flex-start;
    }

    .page img{
        --lenTab:40vw;
        width: var(--lenTab);
        height: var(--lenTab);
    }
    .content .destCont
    {
        height: 35vh;
    }
}
/******************************************************************************

                        Desktop Styling

******************************************************************************/

@media only screen and (min-width : 1452px)
{
    .page{
        background-image: url(../../assets/destination/background-destination-desktop.jpg);
        height: 100vh;
    }
    .content p
    {
        text-align: left;
    }
    .content #destNav
    {
        justify-content: flex-start;
    }
    .content #destNav ul
    {
        justify-content: flex-start;
        gap: 2vw;
    }
    .content .planet
    {
        flex-direction: row;
    }
    .content .travEst
    {
        width: 100%;
    }
    .content .destCont
    {
        width: 50%;
        align-items: flex-start;
        padding-right: 15vw;
    }
    .content .travelEst
    {
        align-items: flex-start;
    }
}